LTM_WebService/src/META-INF/wsdl/203.162.10.109_8080/JNPWS/ObjectService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://medianews.vn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://medianews.vn/" name="ObjectService">
<types>
<xsd:schema>
<xsd:import namespace="http://medianews.vn/" schemaLocation="http://203.162.10.109:8080/JNPWS/ObjectService?xsd=1" />
</xsd:schema>
</types>
<message name="requestListOrder">
<part name="parameters" element="tns:requestListOrder" />
</message>
<message name="requestListOrderResponse">
<part name="parameters" element="tns:requestListOrderResponse" />
</message>
<message name="submitListOrder">
<part name="parameters" element="tns:submitListOrder" />
</message>
<message name="submitListOrderResponse">
<part name="parameters" element="tns:submitListOrderResponse" />
</message>
<message name="requestEmployee">
<part name="parameters" element="tns:requestEmployee" />
</message>
<message name="requestEmployeeResponse">
<part name="parameters" element="tns:requestEmployeeResponse" />
</message>
<message name="requestProductY">
<part name="parameters" element="tns:requestProductY" />
</message>
<message name="requestProductYResponse">
<part name="parameters" element="tns:requestProductYResponse" />
</message>
<message name="submitProductY">
<part name="parameters" element="tns:submitProductY" />
</message>
<message name="submitProductYResponse">
<part name="parameters" element="tns:submitProductYResponse" />
</message>
<message name="submitListOrderY">
<part name="parameters" element="tns:submitListOrderY" />
</message>
<message name="submitListOrderYResponse">
<part name="parameters" element="tns:submitListOrderYResponse" />
</message>
<message name="submitEmployee">
<part name="parameters" element="tns:submitEmployee" />
</message>
<message name="submitEmployeeResponse">
<part name="parameters" element="tns:submitEmployeeResponse" />
</message>
<message name="requestListCustomerY">
<part name="parameters" element="tns:requestListCustomerY" />
</message>
<message name="requestListCustomerYResponse">
<part name="parameters" element="tns:requestListCustomerYResponse" />
</message>
<message name="requestListCustomer">
<part name="parameters" element="tns:requestListCustomer" />
</message>
<message name="requestListCustomerResponse">
<part name="parameters" element="tns:requestListCustomerResponse" />
</message>
<message name="requestListOrderY">
<part name="parameters" element="tns:requestListOrderY" />
</message>
<message name="requestListOrderYResponse">
<part name="parameters" element="tns:requestListOrderYResponse" />
</message>
<message name="requestListProject">
<part name="parameters" element="tns:requestListProject" />
</message>
<message name="requestListProjectResponse">
<part name="parameters" element="tns:requestListProjectResponse" />
</message>
<message name="requestListStudent">
<part name="parameters" element="tns:requestListStudent" />
</message>
<message name="requestListStudentResponse">
<part name="parameters" element="tns:requestListStudentResponse" />
</message>
<message name="requestListEmployeeY">
<part name="parameters" element="tns:requestListEmployeeY" />
</message>
<message name="requestListEmployeeYResponse">
<part name="parameters" element="tns:requestListEmployeeYResponse" />
</message>
<message name="submitListEmployeeY">
<part name="parameters" element="tns:submitListEmployeeY" />
</message>
<message name="submitListEmployeeYResponse">
<part name="parameters" element="tns:submitListEmployeeYResponse" />
</message>
<message name="submitListStudentY">
<part name="parameters" element="tns:submitListStudentY" />
</message>
<message name="submitListStudentYResponse">
<part name="parameters" element="tns:submitListStudentYResponse" />
</message>
<message name="requestListStudentY">
<part name="parameters" element="tns:requestListStudentY" />
</message>
<message name="requestListStudentYResponse">
<part name="parameters" element="tns:requestListStudentYResponse" />
</message>
<message name="submitListCustomerY">
<part name="parameters" element="tns:submitListCustomerY" />
</message>
<message name="submitListCustomerYResponse">
<part name="parameters" element="tns:submitListCustomerYResponse" />
</message>
<message name="submitListProject">
<part name="parameters" element="tns:submitListProject" />
</message>
<message name="submitListProjectResponse">
<part name="parameters" element="tns:submitListProjectResponse" />
</message>
<message name="submitListCustomer">
<part name="parameters" element="tns:submitListCustomer" />
</message>
<message name="submitListCustomerResponse">
<part name="parameters" element="tns:submitListCustomerResponse" />
</message>
<message name="submitListStudent">
<part name="parameters" element="tns:submitListStudent" />
</message>
<message name="submitListStudentResponse">
<part name="parameters" element="tns:submitListStudentResponse" />
</message>
<portType name="ObjectService">
<operation name="requestListOrder">
<input wsam:Action="http://medianews.vn/ObjectService/requestListOrderRequest" message="tns:requestListOrder" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListOrderResponse" message="tns:requestListOrderResponse" />
</operation>
<operation name="submitListOrder">
<input wsam:Action="http://medianews.vn/ObjectService/submitListOrderRequest" message="tns:submitListOrder" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListOrderResponse" message="tns:submitListOrderResponse" />
</operation>
<operation name="requestEmployee">
<input wsam:Action="http://medianews.vn/ObjectService/requestEmployeeRequest" message="tns:requestEmployee" />
<output wsam:Action="http://medianews.vn/ObjectService/requestEmployeeResponse" message="tns:requestEmployeeResponse" />
</operation>
<operation name="requestProductY">
<input wsam:Action="http://medianews.vn/ObjectService/requestProductYRequest" message="tns:requestProductY" />
<output wsam:Action="http://medianews.vn/ObjectService/requestProductYResponse" message="tns:requestProductYResponse" />
</operation>
<operation name="submitProductY">
<input wsam:Action="http://medianews.vn/ObjectService/submitProductYRequest" message="tns:submitProductY" />
<output wsam:Action="http://medianews.vn/ObjectService/submitProductYResponse" message="tns:submitProductYResponse" />
</operation>
<operation name="submitListOrderY">
<input wsam:Action="http://medianews.vn/ObjectService/submitListOrderYRequest" message="tns:submitListOrderY" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListOrderYResponse" message="tns:submitListOrderYResponse" />
</operation>
<operation name="submitEmployee">
<input wsam:Action="http://medianews.vn/ObjectService/submitEmployeeRequest" message="tns:submitEmployee" />
<output wsam:Action="http://medianews.vn/ObjectService/submitEmployeeResponse" message="tns:submitEmployeeResponse" />
</operation>
<operation name="requestListCustomerY">
<input wsam:Action="http://medianews.vn/ObjectService/requestListCustomerYRequest" message="tns:requestListCustomerY" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListCustomerYResponse" message="tns:requestListCustomerYResponse" />
</operation>
<operation name="requestListCustomer">
<input wsam:Action="http://medianews.vn/ObjectService/requestListCustomerRequest" message="tns:requestListCustomer" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListCustomerResponse" message="tns:requestListCustomerResponse" />
</operation>
<operation name="requestListOrderY">
<input wsam:Action="http://medianews.vn/ObjectService/requestListOrderYRequest" message="tns:requestListOrderY" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListOrderYResponse" message="tns:requestListOrderYResponse" />
</operation>
<operation name="requestListProject">
<input wsam:Action="http://medianews.vn/ObjectService/requestListProjectRequest" message="tns:requestListProject" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListProjectResponse" message="tns:requestListProjectResponse" />
</operation>
<operation name="requestListStudent">
<input wsam:Action="http://medianews.vn/ObjectService/requestListStudentRequest" message="tns:requestListStudent" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListStudentResponse" message="tns:requestListStudentResponse" />
</operation>
<operation name="requestListEmployeeY">
<input wsam:Action="http://medianews.vn/ObjectService/requestListEmployeeYRequest" message="tns:requestListEmployeeY" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListEmployeeYResponse" message="tns:requestListEmployeeYResponse" />
</operation>
<operation name="submitListEmployeeY">
<input wsam:Action="http://medianews.vn/ObjectService/submitListEmployeeYRequest" message="tns:submitListEmployeeY" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListEmployeeYResponse" message="tns:submitListEmployeeYResponse" />
</operation>
<operation name="submitListStudentY">
<input wsam:Action="http://medianews.vn/ObjectService/submitListStudentYRequest" message="tns:submitListStudentY" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListStudentYResponse" message="tns:submitListStudentYResponse" />
</operation>
<operation name="requestListStudentY">
<input wsam:Action="http://medianews.vn/ObjectService/requestListStudentYRequest" message="tns:requestListStudentY" />
<output wsam:Action="http://medianews.vn/ObjectService/requestListStudentYResponse" message="tns:requestListStudentYResponse" />
</operation>
<operation name="submitListCustomerY">
<input wsam:Action="http://medianews.vn/ObjectService/submitListCustomerYRequest" message="tns:submitListCustomerY" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListCustomerYResponse" message="tns:submitListCustomerYResponse" />
</operation>
<operation name="submitListProject">
<input wsam:Action="http://medianews.vn/ObjectService/submitListProjectRequest" message="tns:submitListProject" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListProjectResponse" message="tns:submitListProjectResponse" />
</operation>
<operation name="submitListCustomer">
<input wsam:Action="http://medianews.vn/ObjectService/submitListCustomerRequest" message="tns:submitListCustomer" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListCustomerResponse" message="tns:submitListCustomerResponse" />
</operation>
<operation name="submitListStudent">
<input wsam:Action="http://medianews.vn/ObjectService/submitListStudentRequest" message="tns:submitListStudent" />
<output wsam:Action="http://medianews.vn/ObjectService/submitListStudentResponse" message="tns:submitListStudentResponse" />
</operation>
</portType>
<binding name="ObjectServicePortBinding" type="tns:ObjectService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="requestListOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestEmployee">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestProductY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitProductY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListOrderY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitEmployee">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestListCustomerY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestListCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestListOrderY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestListProject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestListStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestListEmployeeY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListEmployeeY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListStudentY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestListStudentY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListCustomerY">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListProject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitListStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ObjectService">
<port name="ObjectServicePort" binding="tns:ObjectServicePortBinding">
<soap:address location="http://203.162.10.109:8080/JNPWS/ObjectService" />
</port>
</service>
</definitions>