LTM_WebService/xml-resources/web-service-references/CharacterService/wsdl/203.162.10.109_8080/JNPWS/CharacterService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://medianews.vn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://medianews.vn/">

<xs:element name="requestCharacter" type="tns:requestCharacter" />

<xs:element name="requestCharacterResponse" type="tns:requestCharacterResponse" />

<xs:element name="requestString" type="tns:requestString" />

<xs:element name="requestStringArray" type="tns:requestStringArray" />

<xs:element name="requestStringArrayResponse" type="tns:requestStringArrayResponse" />

<xs:element name="requestStringResponse" type="tns:requestStringResponse" />

<xs:element name="submitCharacterCharArray" type="tns:submitCharacterCharArray" />

<xs:element name="submitCharacterCharArrayResponse" type="tns:submitCharacterCharArrayResponse" />

<xs:element name="submitCharacterString" type="tns:submitCharacterString" />

<xs:element name="submitCharacterStringArray" type="tns:submitCharacterStringArray" />

<xs:element name="submitCharacterStringArrayResponse" type="tns:submitCharacterStringArrayResponse" />

<xs:element name="submitCharacterStringResponse" type="tns:submitCharacterStringResponse" />

<xs:complexType name="requestStringArray">
<xs:sequence>
<xs:element name="studentCode" type="xs:string" minOccurs="0" />
<xs:element name="qCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestStringArrayResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestString">
<xs:sequence>
<xs:element name="studentCode" type="xs:string" minOccurs="0" />
<xs:element name="qCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitCharacterCharArray">
<xs:sequence>
<xs:element name="studentCode" type="xs:string" minOccurs="0" />
<xs:element name="qCode" type="xs:string" minOccurs="0" />
<xs:element name="data" type="xs:unsignedShort" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitCharacterCharArrayResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="submitCharacterStringArray">
<xs:sequence>
<xs:element name="studentCode" type="xs:string" minOccurs="0" />
<xs:element name="qCode" type="xs:string" minOccurs="0" />
<xs:element name="data" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitCharacterStringArrayResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="requestCharacter">
<xs:sequence>
<xs:element name="studentCode" type="xs:string" minOccurs="0" />
<xs:element name="qCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestCharacterResponse">
<xs:sequence>
<xs:element name="return" type="xs:unsignedShort" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitCharacterString">
<xs:sequence>
<xs:element name="studentCode" type="xs:string" minOccurs="0" />
<xs:element name="qCode" type="xs:string" minOccurs="0" />
<xs:element name="data" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitCharacterStringResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>