LTM_WebService/xml-resources/web-service-references/CharacterService/wsdl/203.162.10.109_8080/JNPWS/CharacterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://medianews.vn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://medianews.vn/" name="CharacterService">
<types>
<xsd:schema>
<xsd:import namespace="http://medianews.vn/" schemaLocation="http://203.162.10.109:8080/JNPWS/CharacterService?xsd=1" />
</xsd:schema>
</types>
<message name="requestString">
<part name="parameters" element="tns:requestString" />
</message>
<message name="requestStringResponse">
<part name="parameters" element="tns:requestStringResponse" />
</message>
<message name="requestCharacter">
<part name="parameters" element="tns:requestCharacter" />
</message>
<message name="requestCharacterResponse">
<part name="parameters" element="tns:requestCharacterResponse" />
</message>
<message name="requestStringArray">
<part name="parameters" element="tns:requestStringArray" />
</message>
<message name="requestStringArrayResponse">
<part name="parameters" element="tns:requestStringArrayResponse" />
</message>
<message name="submitCharacterCharArray">
<part name="parameters" element="tns:submitCharacterCharArray" />
</message>
<message name="submitCharacterCharArrayResponse">
<part name="parameters" element="tns:submitCharacterCharArrayResponse" />
</message>
<message name="submitCharacterString">
<part name="parameters" element="tns:submitCharacterString" />
</message>
<message name="submitCharacterStringResponse">
<part name="parameters" element="tns:submitCharacterStringResponse" />
</message>
<message name="submitCharacterStringArray">
<part name="parameters" element="tns:submitCharacterStringArray" />
</message>
<message name="submitCharacterStringArrayResponse">
<part name="parameters" element="tns:submitCharacterStringArrayResponse" />
</message>
<portType name="CharacterService">
<operation name="requestString">
<input wsam:Action="http://medianews.vn/CharacterService/requestStringRequest" message="tns:requestString" />
<output wsam:Action="http://medianews.vn/CharacterService/requestStringResponse" message="tns:requestStringResponse" />
</operation>
<operation name="requestCharacter">
<input wsam:Action="http://medianews.vn/CharacterService/requestCharacterRequest" message="tns:requestCharacter" />
<output wsam:Action="http://medianews.vn/CharacterService/requestCharacterResponse" message="tns:requestCharacterResponse" />
</operation>
<operation name="requestStringArray">
<input wsam:Action="http://medianews.vn/CharacterService/requestStringArrayRequest" message="tns:requestStringArray" />
<output wsam:Action="http://medianews.vn/CharacterService/requestStringArrayResponse" message="tns:requestStringArrayResponse" />
</operation>
<operation name="submitCharacterCharArray">
<input wsam:Action="http://medianews.vn/CharacterService/submitCharacterCharArrayRequest" message="tns:submitCharacterCharArray" />
<output wsam:Action="http://medianews.vn/CharacterService/submitCharacterCharArrayResponse" message="tns:submitCharacterCharArrayResponse" />
</operation>
<operation name="submitCharacterString">
<input wsam:Action="http://medianews.vn/CharacterService/submitCharacterStringRequest" message="tns:submitCharacterString" />
<output wsam:Action="http://medianews.vn/CharacterService/submitCharacterStringResponse" message="tns:submitCharacterStringResponse" />
</operation>
<operation name="submitCharacterStringArray">
<input wsam:Action="http://medianews.vn/CharacterService/submitCharacterStringArrayRequest" message="tns:submitCharacterStringArray" />
<output wsam:Action="http://medianews.vn/CharacterService/submitCharacterStringArrayResponse" message="tns:submitCharacterStringArrayResponse" />
</operation>
</portType>
<binding name="CharacterServicePortBinding" type="tns:CharacterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="requestString">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestCharacter">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="requestStringArray">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitCharacterCharArray">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitCharacterString">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitCharacterStringArray">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CharacterService">
<port name="CharacterServicePort" binding="tns:CharacterServicePortBinding">
<soap:address location="http://203.162.10.109:8080/JNPWS/CharacterService" />
</port>
</service>
</definitions>